@font-face {
    font-family: 'Norse Bold'; /* Name of the font that you'll use in your CSS */
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff'); /* Fallback for browsers that don't support woff2 */
    font-weight: bold; /* Define the weight for this font */
    font-style: normal; /* Define the style for this font (normal, italic, etc.) */
  }  

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif 
    }

body, h1, h2, h3, h4, h5, h6, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}       

.container {
    height: 100vh;
    width: 1440px;
    margin: 0 auto;
    display: flex;
}

.sidebar {
    flex: 0 0 35%;
    /* background-color: green; */
    background-image: url(./images/bg-leaves-image-small.jpg);
    background-size: cover;
    background-position: center;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;    
}

.sidebar p {
    color: white;
    font-size: 0.8rem;
}

.sidebar a, .sidebar a:hover, .sidebar a:visited, .sidebar a:focus {
    color: white;
}

.logo {
    margin-top: 200px;
    height: 100px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Norse Bold';
    color: white;
    opacity: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    /* z-index: 10; */
}

/* .logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: -1; 
  }  */

.logo img, span {
    max-height: 100%;
    font-size: 4rem;
}

.content {
    background-color: #F9FAFB;
    
}

.content .intro {
    height: 200px;
    padding-top: 120px;
    padding-right: 300px;
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 50px;
}

.content .form {
    background-color: #fff;
    margin-left: 0;    
    padding-left: 50px;
    padding-top: 15px;
    color: rgb(57, 57, 57);
    padding-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.form form {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    /* gap: 55px; */
    column-gap: 55px;
    row-gap: 15px;
    margin-top: 15px;
    flex-direction: row;
}

.form .form-item {
    width: 245px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form .form-item label {
    text-transform: uppercase;
    font-size: 0.625rem;
    font-weight: bold;
    letter-spacing: 0.07rem;
}

.form .form-item input {
    font-size: 0.8rem;
    padding: 5px;
    border: 1px solid #E5E7EB;
    /* height: 20px; */
    border-radius: 3px;
    margin-top: 5px;
    background-color: #FFFEFE;
}

.form .form-item input:focus {
    border: 1px solid blue;
    outline: none;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow underneath and to the right */
}

.form .form-item input:user-invalid {
    border: 1px solid red;
}

.form small {
    font-size: 0.625rem;
    margin-top: 5px;
    color: red;
    /* display:none; */
    visibility: hidden;
}

.form .form-item input:user-invalid + small {
    /* display: block; */
    visibility: visible;
}

.content button {
    margin-left: 50px;
    margin-top: 25px;
    padding: 15px 45px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #596d48;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.content button:hover {
    background-color: #47563a;
    cursor: pointer;
}

.content button + p {
    margin-left: 50px;
    margin-top: 25px;
}

.content a {
    color: #596d48;
    font-weight: bold;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}










